/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0a0406 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #e4d2d7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #e4d2d7; background-color: rgba(108,177,210,0.4)}
.cm-s-nqqwal { background-color: #0a0406; color: #e4d2d7; }
.cm-s-nqqwal span.cm-builtin { color: #9A1D1A; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #9f9396; }
.cm-s-nqqwal span.cm-keyword { color: #C44750; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #787089; }
.cm-s-nqqwal span.cm-def { color: #C96E95; }
.cm-s-nqqwal span.cm-variable { color: #6CB1D2; }
.cm-s-nqqwal span.cm-variable-2 { color: #C96E95; }
.cm-s-nqqwal span.cm-string { color: #9A1D1A; }
.cm-s-nqqwal span.cm-string-2 { color: #9A1D1A; }
.cm-s-nqqwal span.cm-number { color: #C96E95; }
.cm-s-nqqwal span.cm-tag { color: #C44750; }
.cm-s-nqqwal span.cm-property { color: #6CB1D2; }
.cm-s-nqqwal span.cm-attribute { color: #6CB1D2; }
.cm-s-nqqwal span.cm-qualifier { color: #787089; }
.cm-s-nqqwal span.cm-meta { color: #C96E95; }
.cm-s-nqqwal span.cm-header { color: #C44750; }
.cm-s-nqqwal span.cm-operator { color: #C44750; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(201,110,149,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #C44750; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0a0406); }
