* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Mono;
    font-size: 11px;
    font-weight: 500;
    min-height: 18px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 5px;
    padding: 0px;
    /* padding-right: 2px; */
    border-radius: 8px;
    transition: all .3s ease;
    background: rgb(106, 127, 161);
    border: 1px solid rgba(83, 83, 83, 0.664);
}

#workspaces button {
    color: #B6B8B7;
    font-weight: 500;
    background: transparent;
    padding: 1px 4px;
    font-size: 18px;
    transition: all .3s ease;
}

#workspaces button.persistent {
    color: #B6B8B7;
    font-weight: 500;
    font-size: 12px;
    transition: all .3s ease;
}

#workspaces button.active {
    font-weight: 700;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

#workspaces button.active:first-child,
#workspaces button:hover:first-child {
    border-radius: 8px 0px 0px 0px;
}

#workspaces button.active:last-child,
#workspaces button:hover:last-child {
    border-radius: 0px 8px 0px 0px;
}

#custom-mpris {
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-left: 12px;
    padding-right: 12px;
    /* margin: 10px 0 5px 10px; separa del módulo anterior */
    border-radius: 8px;
    background: rgb(106, 127, 161);
    border: 1px solid rgba(83, 83, 83, 0.664);
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
}

/*#custom-cava {
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    background: rgb(106, 127, 161);
    border: 1px solid rgba(83, 83, 83, 0.664);
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
}*/

#custom-mpris:hover {
    color: #d9ffe7;
}

#custom-notification {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    transition: none;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background: rgb(106, 127, 161);
    border: 1px solid rgba(83, 83, 83, 0.664);
}

#custom-notification:hover {
    color: #eeff00;
}

#clock {
    padding-left: 16px;
    padding-right: 12px;
    border-radius: 8px;
    /*border-radius: 8px 0px 0px 8px;*/
    transition: none;
    color: #ffffff;
    font-weight: 500;
    background: rgb(106, 127, 161);
    border: 1px solid rgba(83, 83, 83, 0.664);
/*    border-bottom: 1px solid rgba(83, 83, 83, 0.664);
    border-left: 1px solid rgba(83, 83, 83, 0.664);*/
}

/*#custom-weather {
    padding-right: 16px;
    border-radius: 0px 8px 8px 0px;
    transition: none;
    color: #ffffff;
    font-weight: 500;
    background: rgb(106, 127, 161);
    border-top: 1px solid rgba(83, 83, 83, 0.664);
    border-bottom: 1px solid rgba(83, 83, 83, 0.664);
    border-right: 1px solid rgba(83, 83, 83, 0.664);
}*/

#pulseaudio {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    color: #ffffff;
    transition: all .3s ease;
    background: #5d9e52;
    border: 1px solid rgba(83, 83, 83, 0.664);
}

#pulseaudio:hover {
    color: #eeff00;
}

#pulseaudio.muted {
    font-family: "CodeNewRoman Nerd Font Propo";
    transition: all .55s ease-in-out;
    background: #2c2036;
    color: #eeff00;
}

#cpu {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    transition: none;
    color: #ffffff;
    background: #5319FA;
    border: 1px solid rgba(83, 83, 83, 0.664);
}

#memory {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    transition: none;
    color: #ffffff;
    background: #6C76FA;
    border: 1px solid rgba(83, 83, 83, 0.664);
}

#temperature {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    transition: none;
    color: #ffffff;
    background: #9C19FA;
    border: 1px solid rgba(83, 83, 83, 0.664);
}

#temperature.critical {
    font-family: "CodeNewRoman Nerd Font Propo";
    background-color: #eb4d4b;
}

#bluetooth{
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px 0px 0px 8px;
    transition: none;
    color: #ffffff;
    transition: all .3s ease;
    background: #1928FA;
    border-top: 1px solid rgba(83, 83, 83, 0.664);
    border-bottom: 1px solid rgba(83, 83, 83, 0.664);
    border-left: 1px solid rgba(83, 83, 83, 0.664);
}

#bluetooth:hover {
    color: #eeff00;
}

#network{
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-right: 16px;
    border-radius: 0px 8px 8px 0px;
    transition: none;
    color: #ffffff;
    transition: all .3s ease;
    background: #1928FA;
    border-top: 1px solid rgba(83, 83, 83, 0.664);
    border-bottom: 1px solid rgba(83, 83, 83, 0.664);
    border-right: 1px solid rgba(83, 83, 83, 0.664);
}

#network:hover {
    color: #eeff00;
}

#tray {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    transition: none;
    color: #ffffff;
    background: #1928FA;
    border: 1px solid rgba(83, 83, 83, 0.664);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

