window#osd {
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid rgba(144, 146, 232, 0.5);
  background: linear-gradient(to right,
    rgba(30, 70, 150, 0.99),
    rgba(50, 100, 190, 0.99),
    rgba(90, 140, 230, 0.99)
  );
}

window#osd #container {
  margin: 8px;
}

window#osd label {
  font-size: 13px;
  font-weight: 500;
  color: #cfcfff; /* foreground */
}

window#osd image {
  margin-right: 10px;
  color: #cfcfff;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.4;
}

window#osd progressbar {
  min-height: 4px;
  border-radius: 6px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(203, 205, 217, 0.2); /* foreground con opacidad */
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #cfcfff; /* foreground */
}
