/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0d1011 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c0c1; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c0c1; background-color: rgba(72,150,195,0.4)}
.cm-s-nqqwal { background-color: #0d1011; color: #c5c0c1; }
.cm-s-nqqwal span.cm-builtin { color: #994037; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #898687; }
.cm-s-nqqwal span.cm-keyword { color: #A27671; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #9C8B6F; }
.cm-s-nqqwal span.cm-def { color: #42759A; }
.cm-s-nqqwal span.cm-variable { color: #4896C3; }
.cm-s-nqqwal span.cm-variable-2 { color: #42759A; }
.cm-s-nqqwal span.cm-string { color: #994037; }
.cm-s-nqqwal span.cm-string-2 { color: #994037; }
.cm-s-nqqwal span.cm-number { color: #42759A; }
.cm-s-nqqwal span.cm-tag { color: #A27671; }
.cm-s-nqqwal span.cm-property { color: #4896C3; }
.cm-s-nqqwal span.cm-attribute { color: #4896C3; }
.cm-s-nqqwal span.cm-qualifier { color: #9C8B6F; }
.cm-s-nqqwal span.cm-meta { color: #42759A; }
.cm-s-nqqwal span.cm-header { color: #A27671; }
.cm-s-nqqwal span.cm-operator { color: #A27671; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(66,117,154,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #A27671; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0d1011); }
