* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Mono;
    font-size: 11px;
    font-weight: 500;
    min-height: 18px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {    
    margin-right: 5px;
    padding: 1px;
    /* padding-right: 2px; */
    border-radius: 12px;
    transition: all .3s ease;
    background: linear-gradient(to right,
    rgba(30, 70, 150, 0.8),
    rgba(50, 100, 190, 0.7),
    rgba(90, 140, 230, 0.6)
    );
    border: 1px solid rgba(214, 214, 214, 0.664);
}

#workspaces button {
    color: #ffffff;
    font-weight: 500;
    background: transparent;
    padding: 1px 4px;
    font-size: 18px;
    transition: all .3s ease;
}

#workspaces button.persistent {
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    transition: all .3s ease;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #eeff00;
    background: rgb(77, 114, 182);
}

#workspaces button.focused {
    color: #eeff00;
    font-weight: 500;
}

#workspaces button.active {
    font-weight: 700;
    border-radius: 12px;
    color: #eeff00;
    background: rgba(54, 86, 146, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#custom-mpris {
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-left: 12px;
    padding-right: 12px;
    /* margin: 10px 0 5px 10px; separa del módulo anterior */
    border-radius: 12px;
    background: linear-gradient(to left,
    rgba(30, 70, 150, 0.8),
    rgba(50, 100, 190, 0.7),
    rgba(90, 140, 230, 0.6)
    );
    border: 1px solid rgba(214, 214, 214, 0.664);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
}

#custom-mpris:hover {
    color: #eeff00;
}

#custom-notification {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    transition: none;
    color: #ffffff;
    font-weight: 500;
    transition: all .3s ease;
    background: linear-gradient(to right,
    rgba(30, 70, 150, 0.8),
    rgba(50, 100, 190, 0.7),
    rgba(90, 140, 230, 0.6)
    );
    border: 1px solid rgba(214, 214, 214, 0.664);
}

#custom-notification:hover {
    color: #eeff00;
}

#clock {
    padding-left: 16px;
    padding-right: 12px;
    border-radius: 12px 0px 0px 12px;
    transition: none;
    color: #ffffff;
    font-weight: 500;
    background: rgba(90, 140, 230, 0.6);    
    border-top: 1px solid rgba(170, 170, 170, 0.664);
    border-bottom: 1px solid rgba(170, 170, 170, 0.664);
    border-left: 1px solid rgba(170, 170, 170, 0.664);
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 12px 12px 0px;
    transition: none;
    color: #ffffff;
    font-weight: 500;
    background: linear-gradient(to left,
    rgba(30, 70, 150, 0.8),
    rgba(50, 100, 190, 0.7),
    rgba(90, 140, 230, 0.6)
    );
    border-top: 1px solid rgba(170, 170, 170, 0.664);
    border-bottom: 1px solid rgba(170, 170, 170, 0.664);
    border-right: 1px solid rgba(170, 170, 170, 0.664);
}

#pulseaudio {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    color: #ffffff;
    transition: all .3s ease;
    background: linear-gradient(to right,
    rgba(30, 70, 150, 0.8),
    rgba(50, 100, 190, 0.7),
    rgba(90, 140, 230, 0.6)
    );
    border: 1px solid rgba(170, 170, 170, 0.664);
}

#pulseaudio:hover {
    color: #eeff00;
}

#pulseaudio.muted {
    font-family: "CodeNewRoman Nerd Font Propo";
    transition: all .55s ease-in-out;
    background: #2c2036;
    color: #eeff00;
}

#cpu {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    transition: none;
    color: #ffffff;
    background:rgba(90, 140, 230, 0.6);
    border: 1px solid rgba(170, 170, 170, 0.664);
}

#memory {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    transition: none;
    color: #ffffff;
    background:rgba(90, 140, 230, 0.6);
    border: 1px solid rgba(170, 170, 170, 0.664);
}

#temperature {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    transition: none;
    color: #ffffff;    
    background:rgba(90, 140, 230, 0.6);
    border: 1px solid rgba(170, 170, 170, 0.664);
}

#temperature.critical {
    font-family: "CodeNewRoman Nerd Font Propo";
    background-color: #eb4d4b;
}

#bluetooth{
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px 0px 0px 12px;
    transition: none;
    color: #ffffff;
    transition: all .3s ease;
    background:rgba(90, 140, 230, 0.6);
    border-top: 1px solid rgba(170, 170, 170, 0.664);
    border-bottom: 1px solid rgba(170, 170, 170, 0.664);
    border-left: 1px solid rgba(170, 170, 170, 0.664);
}

#bluetooth:hover {
    color: #eeff00;
}

#network{
    font-family: "CodeNewRoman Nerd Font Propo";
    padding-right: 12px;
    border-radius: 0px 12px 12px 0px;
    transition: none;
    color: #ffffff;
    transition: all .3s ease;
    background: linear-gradient(to left,
    rgba(30, 70, 150, 0.8),
    rgba(50, 100, 190, 0.7),
    rgba(90, 140, 230, 0.6)
    );
    border-top: 1px solid rgba(170, 170, 170, 0.664);
    border-bottom: 1px solid rgba(170, 170, 170, 0.664);
    border-right: 1px solid rgba(170, 170, 170, 0.664);
}

#network:hover {
    color: #eeff00;
}

#tray {
    font-family: "CodeNewRoman Nerd Font Propo";
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    transition: none;
    color: #ffffff;
    background:rgba(30, 70, 150, 0.8);
    border: 1px solid rgba(170, 170, 170, 0.664);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

