[Unit]
Description=Temporizador para desactivar la notificacion de hyprsunset

[Timer]
OnCalendar=*-*-* 07:00:00
Persistent=true

[Install]
WantedBy=timers.target
